<footer class="custom-footer tw-w-full" style="background-color: var(--color-primary);">
  
  <!-- Alternating Stripes -->
  <div class="custom-footer-stripes tw-relative">
    <div class="tw-relative" style="margin-top: -23px;">
      {% for i in (0..23) %}
        <div
          class="tw-w-full"
          style="
            margin-top: {{ forloop.index0 }}px; 
            height: {{ 23 | minus: forloop.index0 }}px;
            background-color: var(--color-bg);
          "
        ></div>
      {% endfor %}
    </div>
  </div>

  <!-- MUNCHIE KILLER Logo -->
  <div class="custom-footer-logo tw-flex tw-justify-center tw-py-8 tw-w-full">
    <div class="tw-w-[95vw]">
    <svg 
      class="tw-w-full tw-h-auto" 
      viewBox="0 0 1434 161" 
      fill="none" 
      xmlns="http://www.w3.org/2000/svg"
      style="color: var(--color-bg);"
    >
      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M1368.39 5.90869C1403.04 5.90869 1426.82 24.5657 1426.82 51.2192C1426.82 74.7975 1413.09 90.1751 1396.27 97.5562C1406.12 122.57 1418.01 152.503 1433.18 175.876L1432.77 176.492C1402.63 164.395 1375.57 138.972 1361.83 102.067C1361.21 101.862 1360.8 101.862 1360.19 101.657V139.997C1360.19 150.043 1364.08 157.629 1371.88 161.115V161.73H1315.9V161.115C1323.69 157.629 1327.59 150.043 1327.59 139.997V31.7417C1327.59 21.6953 1323.69 14.109 1315.9 10.6235V10.0083C1333.13 7.34294 1349.94 5.9087 1368.39 5.90869ZM1371.26 12.0591C1364.29 12.0591 1360.19 19.235 1360.19 31.7417V95.5054C1361.42 95.7104 1362.65 95.7104 1363.88 95.7104C1381.72 95.7104 1390.74 81.1535 1390.74 55.9351C1390.74 29.4867 1383.36 12.0594 1371.26 12.0591Z"/>
      <path fill="currentColor" d="M786.572 50.8091L785.752 51.2192C771.81 30.7164 758.688 13.6997 739.415 13.6997C730.804 13.6998 725.884 18.6204 725.884 29.4868V74.5923H743.721C754.997 74.5923 765.044 69.8769 773.45 55.5249H774.065V101.452H773.45C764.429 89.15 754.997 81.769 743.926 81.769H725.884V140.202C725.884 151.068 730.804 155.989 739.415 155.989C760.123 155.989 774.885 137.536 790.468 115.598L791.082 115.803L780.626 169.521H779.6C775.295 164.395 769.349 161.73 761.353 161.73H681.598V161.115C687.953 157.834 693.284 152.093 693.284 139.997V29.6919C693.284 19.6457 689.388 12.0593 681.598 8.57373V7.9585H759.508C767.504 7.9585 774.475 5.2932 778.371 0.16748H778.985L786.572 50.8091Z"/>
      <path fill="currentColor" d="M1062.74 8.57373C1054.95 12.0592 1051.05 19.6455 1051.05 29.6919V140.202C1051.05 151.068 1055.15 155.989 1061.92 155.989C1073.6 155.989 1089.8 135.076 1104.36 115.393L1105.18 115.803L1094.72 169.521H1094.11C1089.6 164.395 1083.44 161.73 1075.45 161.73H1006.56V161.115C1012.92 157.834 1018.25 152.093 1018.25 139.997V29.6919C1018.25 19.6457 1014.35 12.0593 1006.56 8.57373V7.9585H1062.74V8.57373Z"/>
      <path fill="currentColor" d="M1161.45 8.57373C1153.66 12.0592 1149.76 19.6455 1149.76 29.6919V140.202C1149.76 151.068 1153.86 155.989 1160.63 155.989C1172.31 155.989 1188.51 135.076 1203.07 115.393L1203.89 115.803L1193.43 169.521H1192.82C1188.31 164.395 1182.15 161.73 1174.16 161.73H1105.27V161.115C1111.63 157.834 1116.96 152.093 1116.96 139.997V29.6919C1116.96 19.6457 1113.06 12.0593 1105.27 8.57373V7.9585H1161.45V8.57373Z"/>
      <path fill="currentColor" d="M1308.95 50.8091L1308.13 51.2192C1294.19 30.7164 1281.07 13.6997 1261.8 13.6997C1253.19 13.6998 1248.27 18.6204 1248.27 29.4868V74.5923H1266.1C1277.38 74.5923 1287.43 69.8769 1295.83 55.5249H1296.45V101.452H1295.83C1286.81 89.15 1277.38 81.769 1266.31 81.769H1248.27V140.202C1248.27 151.068 1253.19 155.989 1261.8 155.989C1282.5 155.989 1297.27 137.536 1312.85 115.598L1313.46 115.803L1303.01 169.521H1301.98C1297.68 164.395 1291.73 161.73 1283.74 161.73H1203.98V161.115C1210.34 157.834 1215.67 152.093 1215.67 139.997V29.6919C1215.67 19.6457 1211.77 12.0593 1203.98 8.57373V7.9585H1281.89C1289.89 7.9585 1296.86 5.2932 1300.75 0.16748H1301.37L1308.95 50.8091Z"/>
      <path fill="currentColor" d="M367.183 94.48V35.8423C367.183 26.4111 364.108 12.6744 355.087 8.57373V7.9585H386.251V8.57373C378.255 12.2643 375.385 26.411 375.385 35.8423V165.831H374.974L295.834 50.8091V133.846C295.834 146.558 300.754 157.219 308.34 161.115V161.73H275.331V161.115C282.712 157.219 287.633 146.558 287.633 133.846V29.6919C287.633 21.6958 283.736 12.0592 275.945 8.57373V7.9585H309.16L367.183 94.48Z"/>
      <path fill="currentColor" d="M453.265 4.8833C468.847 4.8833 482.174 7.95846 490.785 11.854L471.307 61.8804H470.897C464.336 31.7414 454.495 13.9038 440.963 13.9038C426.201 13.9041 417.385 36.4574 417.385 67.2114C417.385 109.242 432.557 135.691 456.955 135.691C471.512 135.691 482.994 126.465 489.349 108.012L490.375 108.217C486.889 146.967 465.361 164.805 442.193 164.805C413.899 164.805 390.321 135.076 390.321 87.5093C390.321 41.173 419.025 4.88343 453.265 4.8833Z"/>
      <path fill="currentColor" d="M213.748 8.57373C205.752 12.2643 201.856 18.2105 201.856 29.6919V120.109C201.856 141.227 211.903 153.324 227.485 153.734C242.862 153.939 254.549 142.867 254.549 120.109V35.8423C254.549 24.7709 250.654 13.0845 241.017 8.57373V7.9585H274.436V8.57373C265.825 12.4694 262.75 24.7709 262.75 35.8423V120.109C262.75 150.043 242.862 164.395 218.464 164.395C190.58 164.395 169.667 149.018 169.667 120.109V29.6919C169.667 18.2103 166.387 11.8542 159.416 8.57373V7.9585H213.748V8.57373Z"/>
      <path fill="currentColor" d="M81.3964 85.4595L102.72 7.9585H148.645V8.57373C141.264 11.8542 137.164 19.6453 137.984 28.6665L149.671 144.097C150.491 151.888 155.206 157.834 161.357 161.115V161.73H107.229V161.115C112.56 158.244 118.096 151.888 117.276 144.097L105.385 29.4868L67.8641 163.78H66.8387L33.2147 28.6665L21.3231 139.381C20.298 149.223 25.0132 158.244 30.9589 161.115V161.73H0.410034V161.115C7.381 157.424 11.8917 149.223 12.9169 139.381L24.8085 28.4614C25.8336 19.6454 21.5281 11.8543 13.9423 8.57373V7.9585H62.329L81.3964 85.4595Z"/>
      <path fill="currentColor" d="M548.965 8.57373C541.174 12.0593 537.278 21.6959 537.278 29.6919V62.4956H573.568V29.6919C573.568 21.6958 569.468 12.0593 561.882 8.57373V7.9585H618.265V8.57373C610.473 12.0592 606.373 21.6958 606.373 29.6919V139.997C606.373 150.043 611.704 157.834 618.265 161.115V161.73H561.882V161.115C568.033 157.834 573.568 150.043 573.568 139.997V69.6724H537.278V139.997C537.278 150.043 542.404 157.834 548.965 161.115V161.73H492.787V161.115C499.143 157.834 504.474 150.043 504.474 139.997V29.6919C504.474 21.6958 500.578 12.0592 492.787 8.57373V7.9585H548.965V8.57373Z"/>
      <path fill="currentColor" d="M678.118 8.57373C670.122 12.0592 666.432 19.6456 666.432 29.6919V139.997C666.432 152.093 671.762 157.834 678.118 161.115V161.73H621.735V161.115C628.296 157.834 633.422 152.093 633.422 139.997V29.6919C633.422 19.6455 629.526 12.0592 621.735 8.57373V7.9585H678.118V8.57373Z"/>
      <path fill="currentColor" d="M879.929 8.57373C872.138 12.0592 868.242 19.6455 868.242 29.6919V75.0024L901.867 34.2017C910.068 24.3604 909.452 13.2893 902.071 8.57373V7.9585H940.207V8.57373C931.801 13.4944 920.114 23.9512 908.223 38.0981L895.1 53.8853L931.596 142.047C935.286 150.863 942.053 158.449 945.538 160.91V161.73H892.846V160.91C900.637 154.759 898.176 149.428 894.28 139.792L871.522 82.1792L868.242 86.2798V139.997C868.242 152.093 873.368 157.834 879.929 161.115V161.73H823.956V161.115C830.517 157.834 835.642 152.093 835.642 139.997V29.6919C835.642 19.6456 831.747 12.0592 823.956 8.57373V7.9585H879.929V8.57373Z"/>
      <path fill="currentColor" d="M1003.08 8.57373C995.084 12.0592 991.393 19.6456 991.393 29.6919V139.997C991.393 152.093 996.724 157.834 1003.08 161.115V161.73H946.697V161.115C953.258 157.834 958.384 152.093 958.384 139.997V29.6919C958.384 19.6455 954.488 12.0592 946.697 8.57373V7.9585H1003.08V8.57373Z"/>
    </svg>
    </div>
  </div>

</footer>

{% schema %}
{
  "name": "Custom Footer",
  "tag": "section",
  "class": "tw-mt-8",
  "settings": [
    {
      "type": "header",
      "content": "Footer Settings"
    },
    {
      "type": "paragraph",
      "content": "This footer features alternating stripes with the MUNCHIE KILLER logo. No customization options needed."
    }
  ],
  "presets": [
    {
      "name": "Custom Footer"
    }
  ]
}
{% endschema %}
